<?php

# mysql specific configuration
define("MY_SERVER", "localhost");
define("MY_USER", "someuser");
define("MY_PASSWORD", "secret");
define("MY_DB", "sio");

# pushover config
define("PUSH_ENABLED", false);
define("PUSH_URL","https://api.pushover.net/1/messages.json");
define("PUSH_API_TOKEN","YOUR API TOKEN HERE");
define("PUSH_USER_TOKEN", "YOUR USER OTKEN HERE");

?>
